* How to sort columns like, artist_y, artist_x, ..., using select

## Read in data

In [1]:
import pandas as pd

import pickle

lib1 = pickle.load(open('../data/2016-07-15/itl.p', 'rb'))
lib2 = pickle.load(open('../data/2019-07-31/itl.p', 'rb'))

%load_ext blackcellmagic

In [2]:
raw_data1 = [s[1].ToDict() for s in lib1.songs.items()]
raw_data2 = [s[1].ToDict() for s in lib2.songs.items()]

In [8]:
from siuba import *
from datetime import datetime
from time import mktime

convert_date = (_
    .dropna()
    .apply(lambda x: datetime.fromtimestamp(mktime(x)))
    .astype("datetime64[ns]")
    )

clean_all = (
    mutate(
        date_added = convert_date(_.date_added),
        date_modified = convert_date(_.date_modified),
        skip_date = convert_date(_.skip_date)
    ) >>
    select(
        _.contains("date"),
        _.artist, _.name, _.album, _.genre, _.kind,
        _.persistent_id, _.play_count,
        _.rating, _.skip_count, _.track_id,
        _.track_number, _.year
    ) >>
    filter(~_.date_added.isna()) # Shared playlist songs shouldn't be included
)


data1 = (
    pd.DataFrame(raw_data1) >>
    clean_all
)

data2 = (
    pd.DataFrame(raw_data2) >>
    clean_all
)

In [9]:
(
    data2 >>
    count(added_year = _.date_added.dt.year)
)

    added_year     n
0         2006     3
1         2007     2
2         2008     3
3         2009     3
4         2010     6
5         2011   133
6         2012   171
7         2013   114
8         2014    48
9         2015    48
10        2016   241
11        2017   848
12        2018  1314
13        2019  4261

## Why are some added dates missing from the 2019 lib?

In [10]:
# print(
#     data1.shape,
#     data2.shape,
#     joined.shape
#     )

print(
    data1.date_added.isna().sum(),
    data2.date_added.isna().sum()
    )

0 0

In [11]:

(
    data2
    >> group_by(_.artist)
    >> summarize(ttl_na=_.date_added.isna().sum())
    >> arrange(-_.ttl_na)
).head()

                     artist  ttl_na
0       "Weird Al" Yankovic       0
1                      10cc       0
2                  2 Chainz       0
3                 21 Savage       0
4  21 Savage & Metro Boomin       0

In [12]:
# data2 >> filter(_.artist == "Mura Masa")

Aha! Songs for shared playlists appear in the library but have not been "added". It is safe to exclude them.

### Match songs from 2016 <=> 2019

There should be three dataframes that will need to be concatenated:
1. `joined_on_pid`, the songs that were not changed (they had the same persistent_id in 2016 as 2019);
2. `joined`, the songs that were matched (exactly) using artist and name (excluding `joined_on_pid`);
3. And `manually_joined`, the songs that are not included in the above DFs but by eyeballing should have been matched.

In [14]:
# (
#     data1 >>
#     inner_join(_, data2, on = "track_id") >>
#     pipe(lambda d: d[sorted(d.columns)])
# )
# Track id is not enough to use as a join key

In [15]:
# Use persistent_id to match songs, then remove those from future attempts to join
joined_on_pid = (
    data1 >>
    inner_join(_, data2, on = "persistent_id") >>
    pipe(lambda d: d[sorted(d.columns)])
)

In [44]:
joined = (
    data1
    # anti_join(joined_on_pid, on = 'persistent_id')
    >> left_join(
        _,
        joined_on_pid >> select(_.persistent_id) >> mutate(in_pid_table=True),
        on="persistent_id",
    )
    >> filter(_.in_pid_table.isna())
    >> inner_join(_, data2, on=["name", "artist"])
    >> pipe(lambda d: d[sorted(d.columns)])
)

In [ ]:
# Get everything from data1 that is not in the above two DataFrames.
manually_joined_raw = (
    data1 
)

### Update metadata

Metadata to change:
- date_added
- play_count
- skip_count
- genre

#### date_added

In [76]:
(
    joined_on_pid >>
        mutate(date_added = _.apply(lambda d: d.date_added_x if (d.date_added_x < d.date_added_y) else d.date_added_y))
#         mutate(date_added = case_when({
#                 _.date_added_x < _.date_added_y: _.date_added_x,
#                 True: _.date_added_y
#         }))
#         count(t = _.date_added_x > _.date_added_y)
#         mutate(date_added = )
)

AttributeError: ("'Series' object has no attribute 'date_added_x'", 'occurred at index album_x')

#### Play Count

In [20]:
# for joined_on_pid, we want to keep the most recent playcount number.
(
    joined_on_pid 
    >> select(_.contains("play_count")) 
    >> count(old_plays_is_larger = _.play_count_x > _.play_count_y)
)

   old_plays_is_larger    n
0                False  540

#### Skip Count

In [21]:
# for joined_on_pid, we want to keep the most recent skip count number.
(
    joined_on_pid 
    >> select(_.contains("skip_count")) 
    >> count(old_skips_is_larger = _.skip_count_x > _.skip_count_y)
)

   old_skips_is_larger    n
0                False  540

#### Genre

In [26]:
(
    data2
    >> count(_.genre, sort = True)
    >> arrange(_.genre, _.n)
)

                 genre    n
0   Action & Adventure    2
1   Adult Contemporary    2
2          Alternative  319
3            Bluegrass    1
4                Blues    4
..                 ...  ...
57               Vocal   18
58          Vocal Jazz    9
59           Vocal Pop   26
60          Voice Memo    2
61               World    2

[62 rows x 2 columns]

In [ ]:
genre_map = {
    'East Coast Rap': 'Hip-Hop/Rap',
    'Gangsta Rap': 'Hip-Hop/Rap',
    'Hardcore Rap': 'Hip-Hop/Rap',
    'Hip Hop/Rap': 'Hip-Hop/Rap',
    'Hip-Hop': 'Hip-Hop/Rap',
    'Hip-hop & Rap': 'Hip-Hop/Rap',
    'Rap': 'Hip-Hop/Rap',
    'R&B': 'R&B/Soul',
    'Soul': 'R&B/Soul',
    'Traditional Folk': 'Folk',
    'Trance': 'Dance',
}

### Hunt for duplicates